.controller.ds4.white {
  background-image: url(https://silly-churros-8a710c.netlify.app/amphirae_2/png/base.png) !important;
}

.ds4.white .stick {
  background-image: url(https://silly-churros-8a710c.netlify.app/amphirae_2/png/sticks.png) !important;
}

.ds4.white .face {
  background-image: url(https://silly-churros-8a710c.netlify.app/amphirae_2/png/dpad.png) !important;
}

.ds4.white .bumper {
    background-image: url(https://silly-churros-8a710c.netlify.app/amphirae_2/png/bumper.png) !important;
}

.ds4.white .trigger {
    background-image: url(https://silly-churros-8a710c.netlify.app/amphirae_2/png/triggers.png) !important;
}

.ds4.white .touchpad.pressed {
    background-image: url(https://silly-churros-8a710c.netlify.app/amphirae_2/png/touchpad.png) !important;
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://silly-churros-8a710c.netlify.app/amphirae_2/png/start.png) !important;
}
